@charset "UTF-8";
.mdl-layout {
  overflow: visible; }

/**
 * COLORS
 */
/**
 * BREAKPOINTS
 */
/*
  Display {numPerRow} elements by row, with a margin-right of {margin} in percent
 */
body {
  font-family: "Roboto"; }

html, div {
  box-sizing: border-box; }

body {
  font-family: "Roboto"; }

ul {
  list-style: none; }

.info-bulle {
  width: 65px;
  height: 65px;
  border-radius: 24px; }

.label-pills {
  background-color: #f0ad4e;
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
  display: inline-block;
  padding: .25em .4em;
  font-size: 100%;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  margin: 3px; }

.centring {
  margin: 0 auto; }

.mdl-layout__drawer-button {
  color: white; }

h2 {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 5px;
  color: #1d3d86;
  font-weight: 600; }

.actualites .actualite:after {
  content: "";
  display: table;
  clear: both; }

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

main#content {
  overflow: visible;
  padding: 5px;
  /* Responsive Phone */ }
  main#content h1 {
    color: #1d3d86;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500; }
  @media (max-width: 767px) {
    main#content {
      margin: 0;
      margin-left: 0px; } }
  @media (min-width: 1024px) {
    main#content {
      margin: 0 auto;
      width: 1024px; } }

section#bottom-banner {
  position: relative;
  background-color: #1d3d86;
  padding: 35px;
  /*Phone Rules*/ }
  section#bottom-banner ul.social {
    display: block;
    color: white;
    margin: 20px auto; }
    section#bottom-banner ul.social li {
      line-height: 20px;
      margin-bottom: 20px;
      font-weight: 200; }
      section#bottom-banner ul.social li a {
        text-decoration: none;
        color: white; }
      section#bottom-banner ul.social li div {
        font-weight: 500; }
    section#bottom-banner ul.social img {
      float: left;
      margin-right: 15px;
      z-index: 1000; }
  section#bottom-banner #banner-image {
    position: absolute;
    right: 5%;
    bottom: 0%;
    width: 25%; }
    section#bottom-banner #banner-image img {
      width: 100%; }
  @media (max-width: 767px) {
    section#bottom-banner {
      padding: 0px;
      margin: 0; }
      section#bottom-banner #banner-image {
        position: inherit;
        margin-bottom: 20px;
        float: right;
        width: 45px; } }

footer {
  text-align: center; }
  footer h1 {
    color: #1d3d86;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600; }

footer#credits {
  background-color: #1d3d86; }
  footer#credits a {
    text-decoration: none;
    color: inherit;
    margin-right: 10px; }

/*Actualités*/
section.pre-footer {
  background-color: white;
  color: white; }

/* Next Match Module */
#widget-next-match {
  text-align: center;
  padding: 10px;
  font-size: 16px; }
  #widget-next-match h3 {
    margin: 0; }
  #widget-next-match .next-match {
    border-bottom: 1px solid #ddd;
    line-height: 43px; }
    #widget-next-match .next-match span {
      display: block; }
      #widget-next-match .next-match span.right {
        float: right; }
      #widget-next-match .next-match span.left {
        float: left; }
    #widget-next-match .next-match i {
      padding: 10px; }
    #widget-next-match .next-match:after {
      content: "";
      display: table;
      clear: both; }
  #widget-next-match span {
    line-height: 25px; }

/* Login Section */
.user-information {
  padding-top: 10px; }
  .user-information h5 {
    font-size: 15px;
    font-weight: 600;
    margin: 0; }
  .user-information a {
    font-size: 15px;
    color: inherit;
    font-weight: 200;
    text-decoration: none; }
  @media (max-width: 767px) {
    .user-information h5 {
      font-size: 13px; }
    .user-information a {
      font-size: 11px; } }

#login .avatar {
  height: 83px;
  width: 83px;
  border-radius: 48px;
  overflow: hidden; }
  @media (max-width: 767px) {
    #login .avatar {
      height: 63px;
      width: 63px;
      border-radius: 48px; } }

/* Partner */
ul.partners li {
  display: inline-block;
  margin: 0 40px;
  height: 100px; }
  ul.partners li img {
    width: 150px;
    height: auto; }

@media (max-width: 767px) {
  ul.partners li {
    height: inherit;
    margin-top: 20px; }
    ul.partners li img {
      width: 250px; } }

/* Archive Teams */
ul.all-teams li {
  text-align: center;
  display: block;
  border-radius: 50%;
  float: left;
  width: 210px;
  height: 210px;
  margin: 25px;
  background-color: #1d3d86; }
  ul.all-teams li a {
    line-height: 200px;
    color: white;
    font-size: 25px;
    text-decoration: none; }

/**
 * Header & Menu
 */
header {
  background-color: white !important; }
  header:after {
    content: "";
    display: table;
    clear: both; }
  header .mdl-layout__header-row {
    height: 140px;
    color: #1d3d86;
    padding-left: 140px; }
    header .mdl-layout__header-row .mdl-layout-title .logo {
      max-height: 100px; }
      @media (max-width: 767px) {
        header .mdl-layout__header-row .mdl-layout-title .logo {
          max-height: 40px; } }
    header .mdl-layout__header-row .mdl-layout-title h1 {
      display: inline;
      font-size: 35px;
      font-weight: 600; }
    header .mdl-layout__header-row .mdl-layout-title h4 {
      margin: 0;
      font-size: 20px;
      line-height: 20px; }
    header .mdl-layout__header-row nav {
      margin: 0 auto !important; }
      header .mdl-layout__header-row nav .mdl-navigation__link {
        font-size: 16px;
        font-weight: 400; }
        header .mdl-layout__header-row nav .mdl-navigation__link:hover {
          text-decoration: underline; }
    header .mdl-layout__header-row .login #login-link {
      color: #1d3d86; }
      header .mdl-layout__header-row .login #login-link i {
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 15px;
        color: white;
        background-color: #1d3d86; }
        @media (max-width: 767px) {
          header .mdl-layout__header-row .login #login-link i {
            float: right; } }
      header .mdl-layout__header-row .login #login-link span {
        margin-left: 10px; }
    @media (max-width: 767px) {
      header .mdl-layout__header-row {
        padding-left: 20px; } }
  header #menu {
    height: 60px;
    background-color: #1d3d86; }
  header .min-login-menu {
    color: white;
    width: 90px;
    float: right; }
    header .min-login-menu__btns {
      margin-top: 4px;
      float: left; }
    header .min-login-menu .avatar {
      float: right;
      -webkit-border-radius: 45px;
      -moz-border-radius: 45px;
      border-radius: 45px;
      width: 45px;
      height: 45px; }
      @media (max-width: 767px) {
        header .min-login-menu .avatar {
          -webkit-border-radius: 45px;
          -moz-border-radius: 45px;
          border-radius: 45px;
          width: 45px;
          height: 45px; } }

@media (max-width: 767px) {
  .mini-header__logo {
    margin: 0 auto; } }

.placeholder {
  min-height: 54px; }
  .placeholder:after {
    content: "";
    display: table;
    clear: both; }

.phone-login {
  height: 114px;
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 0;
  margin: 0;
  width: 100%; }
  .phone-login .user-information {
    width: 65%;
    padding: 5%; }
  .phone-login .match-flag {
    margin-right: 5px; }
  .phone-login .trap-avatar {
    width: 35%;
    -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%); }

/**
 * Banner
 */
#banner {
  height: 463px;
  width: 100%;
  margin: 0px;
  overflow: hidden; }
  #banner .overlay {
    height: 160%;
    width: 40%;
    transform: rotate(25deg);
    margin-top: -85px;
    margin-right: -150px;
    background-color: rgba(29, 65, 135, 0.55);
    float: right; }
    #banner .overlay .container {
      transform: rotate(-25deg);
      height: 100%;
      text-align: right;
      padding-right: 5%;
      float: right;
      margin-right: 180px;
      font-size: 20px; }
      #banner .overlay .container ul {
        list-style: none;
        margin-top: 170px; }
        #banner .overlay .container ul li.event {
          margin-top: 6%;
          color: white; }
          #banner .overlay .container ul li.event .label {
            font-size: 1em;
            font-weight: 600;
            text-transform: uppercase; }
          #banner .overlay .container ul li.event h2 {
            font-size: 3.6em;
            line-height: normal;
            font-weight: 500;
            color: white; }
          #banner .overlay .container ul li.event .date {
            font-size: 1.5em; }
  @media (max-width: 767px) {
    #banner {
      height: 150px; }
      #banner .overlay {
        height: 142%;
        width: 50%;
        transform: rotate(25deg);
        margin-top: -14px;
        margin-right: -23px;
        float: right; }
        #banner .overlay .container {
          transform: rotate(-25deg);
          height: 100%;
          text-align: right;
          padding-right: 5%;
          float: right;
          margin-right: 25px; }
          #banner .overlay .container ul {
            margin-top: 0px;
            padding: 15px 5px; }
            #banner .overlay .container ul li.event {
              margin-top: 20%;
              color: white; }
              #banner .overlay .container ul li.event .label {
                font-size: 0.7em;
                font-weight: 600; }
              #banner .overlay .container ul li.event h2 {
                line-height: 1em;
                font-weight: 500;
                font-size: 1.4em; }
              #banner .overlay .container ul li.event .date {
                font-size: 1em; } }

/** Responsive menu **/
.phone-menu {
  padding: 10px; }

.phone-menu__logo-phone {
  width: 50px;
  margin-right: 10px; }

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.mdl-navigation__disconnect {
  background-color: #1d3d86;
  color: white; }

/*Agenda*/
/* Animation */
.fade.ng-enter {
  transition: 0.5s linear all;
  opacity: 0; }

.fade.ng-enter.ng-enter-active {
  opacity: 1; }

ul.events > li.ng-enter {
  animation: flipInX 0.3s both ease-in;
  z-index: 8888; }

ul.events > li.ng-leave {
  animation: flipOutX 0.3s both ease-in;
  z-index: 9999; }

ul.events > li.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  -webkit-transition-delay: 1s;
  transition-delay: 1s; }

/*Calendario*/
.fc-calendar-container {
  position: relative;
  height: 400px;
  width: 400px; }

.fc-calendar {
  width: 100%;
  height: 100%; }

.fc-calendar .fc-head {
  height: 30px;
  line-height: 30px;
  background: #ccc;
  color: #fff; }

.fc-calendar .fc-body {
  position: relative;
  width: 100%;
  height: 100%;
  height: -moz-calc(100% - 30px);
  height: -webkit-calc(100% - 30px);
  height: calc(100% - 30px);
  border: 1px solid #ddd; }

.fc-calendar .fc-row {
  width: 100%;
  border-bottom: 1px solid #ddd; }

.fc-four-rows .fc-row {
  height: 25%; }

.fc-five-rows .fc-row {
  height: 20%; }

.fc-six-rows .fc-row {
  height: 16.66%;
  height: -moz-calc(100%/6);
  height: -webkit-calc(100%/6);
  height: calc(100%/6); }

.fc-calendar .fc-row > div,
.fc-calendar .fc-head > div {
  float: left;
  height: 100%;
  width: 14.28%;
  /* 100% / 7 */
  width: -moz-calc(100%/7);
  width: -webkit-calc(100%/7);
  /* width: calc(100%/7); */
  position: relative; }

/* IE 9 is rounding up the calc it seems */
.ie9 .fc-calendar .fc-row > div,
.ie9 .fc-calendar .fc-head > div {
  width: 14.2%; }

.fc-calendar .fc-row > div {
  border-right: 1px solid #ddd;
  padding: 4px;
  overflow: hidden;
  position: relative;
  cursor: pointer; }

.fc-calendar .fc-head > div {
  text-align: center; }

.fc-calendar .fc-row > div > span.fc-date {
  position: absolute;
  width: 30px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #ddd;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8);
  bottom: 5px;
  right: 5px;
  text-align: right; }

.fc-calendar .fc-row > div time {
  display: none; }

.fc-calendar .fc-row > div > span.fc-weekday {
  padding-left: 5px;
  display: none; }

.fc-calendar .fc-row > div.fc-today {
  background: #fff4c3; }

.fc-calendar .fc-row > div.fc-out {
  opacity: 0.6; }

.fc-calendar .fc-row > div:last-child,
.fc-calendar .fc-head > div:last-child {
  border-right: none; }

.fc-calendar .fc-row:last-child {
  border-bottom: none; }

/*Custom CSS*/
/* Custom calendar elements */
.custom-calendar-wrap {
  margin: 10px auto;
  position: relative;
  overflow: hidden; }

.custom-inner {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }

.custom-inner:before,
.custom-inner:after {
  content: '';
  width: 99%;
  height: 50%;
  position: absolute;
  background: #f6f6f6;
  bottom: -4px;
  left: 0.5%;
  z-index: -1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }

.custom-inner:after {
  content: '';
  width: 98%;
  bottom: -7px;
  left: 1%;
  z-index: -2; }

.custom-header {
  background: #fff;
  padding: 5px 10px 10px 20px;
  height: 70px;
  position: relative;
  border-top: 5px solid #1d3d86;
  border-bottom: 1px solid #ddd; }

.custom-header h2,
.custom-header h3 {
  text-align: center;
  text-transform: uppercase; }

.custom-header h2 {
  color: #495468;
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px; }

.custom-header h3 {
  font-size: 10px;
  font-weight: 700;
  color: #1ab3ec; }

.custom-header nav span {
  position: absolute;
  top: 17px;
  width: 30px;
  height: 30px;
  color: transparent;
  cursor: pointer;
  margin: 0 1px;
  font-size: 20px;
  line-height: 30px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.custom-header nav span:first-child {
  left: 5px; }

.custom-header nav span:last-child {
  right: 5px; }

.custom-header nav span:before {
  font-family: 'fontawesome-selected';
  color: #1d3d86;
  position: absolute;
  text-align: center;
  width: 100%; }

.custom-header nav span.custom-prev:before {
  content: '\25c2'; }

.custom-header nav span.custom-next:before {
  content: '\25b8'; }

.custom-header nav span:hover:before {
  color: #495468; }

.custom-content-reveal {
  background: #f6f6f6;
  background: rgba(246, 246, 246, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0px;
  text-align: center;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; }

.custom-content-reveal span.custom-content-close {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  background: #1d3d86;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  line-height: 13px;
  padding: 0; }

.custom-content-reveal span.custom-content-close:after {
  content: 'x';
  font-size: 18px;
  color: #fff; }

.custom-content-reveal a,
.custom-content-reveal span {
  font-size: 22px;
  padding: 10px 30px;
  display: block; }

.custom-content-reveal h4 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 3px;
  color: #777;
  padding: 20px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  border-top: 5px solid #1d3d86;
  box-shadow: 0 1px rgba(255, 255, 255, 0.9);
  margin-bottom: 30px; }

.custom-content-reveal span {
  color: #888; }

.custom-content-reveal a {
  color: #1d3d86; }

.custom-content-reveal time {
  display: none; }

.custom-content-reveal a:hover {
  color: #333; }

/* Modifications */
.fc-calendar-container {
  height: 400px;
  width: auto;
  padding: 30px;
  background: #f6f6f6;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.8); }

.fc-calendar .fc-head {
  background: transparent;
  color: #1d3d86;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px; }

.fc-calendar .fc-row > div {
  background: #fff;
  cursor: pointer; }

.fc-calendar .fc-row > div:empty {
  background: transparent;
  cursor: default; }

.fc-calendar .fc-row > div > span.fc-date {
  top: 50%;
  left: 50%;
  text-align: center;
  margin: -10px 0 0 -15px;
  color: #686a6e;
  font-weight: 400;
  pointer-events: none; }

.fc-calendar .fc-row > div > span.fc-emptydate {
  color: #ccc; }

.fc-calendar .fc-row > div.fc-today {
  background: #1d3d86;
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1); }

.fc-calendar .fc-row > div.fc-today > span.fc-date {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.fc-calendar .fc-row > div.fc-content:after {
  content: '\00B7';
  text-align: center;
  width: 20px;
  margin-left: -10px;
  position: absolute;
  color: #1ab3ec;
  font-size: 70px;
  line-height: 20px;
  left: 50%;
  bottom: 3px; }

.fc-calendar .fc-row > div.fc-today.fc-content:after {
  color: #b02c42; }

.fc-calendar .fc-row > div.fc-today.fc-content:hover:after {
  color: #fff; }

.fc-calendar .fc-row > div > div a,
.fc-calendar .fc-row > div > div span {
  display: none;
  font-size: 22px; }

@media screen and (max-width: 400px) {
  .fc-calendar-container {
    height: 300px; }
  .fc-calendar .fc-row > div > span.fc-date {
    font-size: 15px; } }

/* SLHB Agenda */
.agenda {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  color: #8a8c96;
  margin: 0;
  padding: 0;
  /* Calendar */
  /* Events Lists*/ }
  .agenda .left-column {
    float: left;
    width: 375px;
    margin: 0;
    background-color: #f6f6f6; }
    .agenda .left-column h1 {
      text-align: center; }
    @media (max-width: 767px) {
      .agenda .left-column {
        width: 310px; } }
    @media (max-width: 767px) {
      .agenda .left-column.phone-calendar {
        display: none; } }
  .agenda .center-column {
    float: left;
    width: 639px;
    margin: 0; }
    @media (max-width: 767px) {
      .agenda .center-column {
        width: 310px; } }
  .agenda #btn-navigation {
    position: absolute;
    margin: 15px 35px;
    font-weight: lighter;
    font-style: normal;
    right: 5px;
    line-height: 40px;
    font-size: 20px;
    color: #1d3d86;
    background-color: white; }
  .agenda .fc-calendar .fc-row > div {
    padding: 0; }
  .agenda h6 {
    line-height: 80px;
    margin: 0;
    font-size: 20px;
    text-align: center; }
  .agenda .month-name {
    color: #1d3d86; }
  .agenda ul.events {
    margin: 0;
    padding: 0;
    line-height: 30px; }
    .agenda ul.events li {
      height: 80px;
      padding: 30px; }
      .agenda ul.events li .descr {
        color: #2d304a;
        font-size: 22px; }
      .agenda ul.events li .descr.purple {
        width: 55%;
        min-width: 150px;
        border-right: solid 2px #1ab3ec; }
        @media (max-width: 767px) {
          .agenda ul.events li .descr.purple {
            width: 100%; } }
      .agenda ul.events li .descr.orange {
        width: 55%;
        min-width: 150px;
        border-right: solid 2px #bb68e3; }
        @media (max-width: 767px) {
          .agenda ul.events li .descr.orange {
            width: 100%; } }
      .agenda ul.events li .descr.blue {
        width: 55%;
        min-width: 150px;
        border-right: solid 2px #f88c4b; }
        @media (max-width: 767px) {
          .agenda ul.events li .descr.blue {
            width: 100%; } }

/*--- Event Details*/
div.event-details {
  min-height: 85vh;
  padding: 0;
  margin: 0;
  padding: 0; }
  div.event-details .cover {
    width: auto;
    height: 30%; }
    div.event-details .cover .header-content {
      width: 45%;
      height: 100%;
      background-color: white;
      padding: 10px 40px; }
      div.event-details .cover .header-content h1 {
        margin: 0;
        line-height: 50px;
        padding: 0;
        float: left;
        margin-top: 35%;
        font-weight: 300 !important;
        display: inline-block;
        width: 100%; }
      @media (max-width: 767px) {
        div.event-details .cover .header-content {
          width: 75%; } }
  div.event-details .carousel {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 110px; }
    div.event-details .carousel div {
      min-width: calc(100% / 4);
      min-height: 80px;
      background-size: 350px;
      background-repeat: no-repeat; }
      div.event-details .carousel div {
        background-color: #1abc9c;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        opacity: .7; }
      div.event-details .carousel div:hover {
        opacity: 1; }
    div.event-details .carousel div.more-pictures {
      opacity: 1;
      background-color: #1d3d86;
      text-align: center;
      color: white;
      font-weight: lighter;
      padding-right: 0px; }
      div.event-details .carousel div.more-pictures h1 {
        background-color: #1d3d86;
        margin: 0;
        color: white !important;
        text-align: center;
        font-size: 2.5em !important;
        font-weight: 300 !important; }
  div.event-details .event-content {
    padding: 40px; }
    div.event-details .event-content:after {
      content: "";
      display: table;
      clear: both; }

/*
 Module : Actualites
*/
.actualites .actualite {
  float: left;
  margin: 0 25px 20px 20px;
  width: 430px;
  height: 250px;
  overflow: hidden;
  /* Responsive rules */ }
  .actualites .actualite > img {
    width: 200px;
    height: auto;
    margin: 0; }
  .actualites .actualite-content {
    margin: 0 0 0 20px;
    width: 210px;
    float: right; }
  .actualites .actualite a {
    color: #1d3d86;
    font-weight: 600;
    padding: 10px;
    float: right;
    text-decoration: none; }
    .actualites .actualite a span {
      display: inline-block;
      vertical-align: middle;
      height: 34px; }
  @media (max-width: 767px) {
    .actualites .actualite {
      width: 80%;
      margin: 10%;
      padding: 5px;
      height: auto;
      text-align: center; }
      .actualites .actualite > img {
        width: 200px;
        height: auto; }
      .actualites .actualite-content {
        margin: 5px;
        width: 100%; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .actualites .actualite {
      width: 560px; }
      .actualites .actualite > img {
        width: 240px; }
      .actualites .actualite-content {
        width: 290px; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .actualites {
    margin: 0 auto;
    width: 700px; }
    .actualites-content {
      margin: 20px; } }

@media (min-width: 1024px) {
  .actualites {
    margin: 0 auto;
    width: 960px; } }

/* Actu Details */
main#content .details-actualite {
  width: 660px;
  padding: 20px;
  margin: 0 auto; }
  main#content .details-actualite header h1 {
    text-transform: none;
    font-weight: 700;
    font-size: 35px;
    color: #1d3d86;
    margin-bottom: 0; }
  main#content .details-actualite header .sub-infos {
    text-transform: uppercase;
    color: #767676; }
  main#content .details-actualite section {
    margin-top: 45px; }
  main#content .details-actualite .fb-share-button {
    margin-top: 25px; }

.related {
  background-color: #1d3d86;
  padding: 0;
  margin: 0;
  margin-top: 5rem; }
  .related .related-center {
    width: 100%;
    margin: 0 auto;
    height: 250px;
    overflow: hidden;
    position: relative; }
    .related .related-center a.read-next-story {
      text-decoration: none;
      position: relative;
      text-align: center;
      color: #fff;
      background: #1d3d86 no-repeat center center;
      background-size: cover;
      overflow: hidden;
      float: left;
      width: 50%;
      height: 100%; }
      .related .related-center a.read-next-story:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: all 0.5s ease; }
      .related .related-center a.read-next-story:hover:before {
        background: rgba(0, 0, 0, 0.8);
        transition: all 0.2s ease; }
      .related .related-center a.read-next-story:hover .post:before {
        color: #222;
        background: #fff;
        transition: all 0.2s ease; }
      .related .related-center a.read-next-story .post {
        position: relative;
        width: 80%;
        margin: 1rem auto;
        padding-top: 3rem;
        padding-bottom: 3rem; }
        .related .related-center a.read-next-story .post:before {
          content: "A lire ensuite";
          padding: 4px 10px 5px;
          text-transform: uppercase;
          font-size: 0.8rem;
          font-family: "Open Sans", sans-serif;
          color: rgba(255, 255, 255, 0.8);
          border: rgba(255, 255, 255, 0.5) 1px solid;
          border-radius: 4px;
          transition: all 0.5s ease; }
        .related .related-center a.read-next-story .post h2 {
          margin-top: 10px;
          color: white;
          font-weight: bold;
          font-size: 28px;
          text-align: center; }
        .related .related-center a.read-next-story .post p {
          padding: 20px 0;
          color: rgba(255, 255, 255, 0.8);
          font-weight: 300; }

.contact {
  margin: 65px auto;
  width: 50%;
  min-width: 385px; }
  .contact .mdl-card__title {
    background-color: #1d3d86; }
    .contact .mdl-card__title h2 {
      font-size: 15px; }
  .contact .mdl-button {
    color: #1d3d86; }

/*
  Organigramme component
 */
.the-crew {
  padding: 0; }
  .the-crew__item {
    float: left;
    margin: 25px 20px;
    width: 285px; }
    @media (max-width: 767px) {
      .the-crew__item {
        margin: 15px 0px;
        width: 350px; } }
  .the-crew__avatar {
    float: left;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    width: 70px;
    height: 70px; }
    @media (max-width: 767px) {
      .the-crew__avatar {
        -webkit-border-radius: 65px;
        -moz-border-radius: 65px;
        border-radius: 65px;
        width: 65px;
        height: 65px; } }
    .the-crew__avatar:after {
      content: "";
      display: table;
      clear: both; }
  .the-crew__infos {
    margin: 0 15px;
    float: left;
    color: #1d3d86; }
    .the-crew__infos:after {
      content: "";
      display: table;
      clear: both; }
  .the-crew:after {
    content: "";
    display: table;
    clear: both; }

.after-trombi {
  margin: 25px 0; }

#profile .mdl-grid {
  padding: 0; }
  #profile .mdl-grid aside.profile-column {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 0;
    padding: 15px; }
    #profile .mdl-grid aside.profile-column h2 {
      text-align: center; }
    #profile .mdl-grid aside.profile-column .avatar {
      -webkit-border-radius: 135px;
      -moz-border-radius: 135px;
      border-radius: 135px;
      width: 135px;
      height: 135px;
      margin: 20px auto; }
    #profile .mdl-grid aside.profile-column .infos {
      text-align: center; }
    @media (max-width: 767px) {
      #profile .mdl-grid aside.profile-column {
        width: 100%; } }
  #profile .mdl-grid .match-header {
    margin: 15px;
    text-align: center; }
    #profile .mdl-grid .match-header h2 {
      color: #767676; }
    #profile .mdl-grid .match-header h1 {
      margin: 0;
      color: #1d3d86;
      font-size: 30px; }
  #profile .mdl-grid .players-list .label-pills {
    background-color: #E91E63; }

#profile.coach-profile .mdl-grid aside.profile-column .avatar {
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
  width: 75px;
  height: 75px;
  margin: 20px auto; }

#profile.coach-profile .mdl-grid aside.profile-column .player-presents {
  margin: 25px 0; }

#profile.coach-profile:after {
  content: "";
  display: table;
  clear: both; }

main#content .details-team {
  padding: 20px;
  margin: 0 auto; }
  main#content .details-team header h1 {
    text-transform: none;
    font-weight: 700;
    font-size: 35px;
    color: #1d3d86;
    margin-bottom: 0; }
  main#content .details-team article {
    margin-top: 45px 0; }
  main#content .details-team h2 {
    margin-top: 25px; }
  main#content .details-team .the-crew {
    width: 100%; }

/*Presential module*/
@media (max-width: 767px) {
  md-toast {
    display: block; } }

@media (max-width: 767px) {
  .presential .mdl-switch__label {
    display: none; }
  .presential md-toast {
    display: block; }
    .presential md-toast .md-toast-content {
      min-height: 38px;
      padding: 3px;
      font-size: 0.9em;
      line-height: 0.9em; } }

.presential .partners {
  line-height: 24px; }

.presential md-switch.md-default-theme.md-checked .md-bar, .presential md-switch.md-checked .md-bar {
  background-color: rgba(63, 81, 181, 0.5); }

.presential md-switch.md-default-theme.md-checked .md-thumb, .presential md-switch.md-checked .md-thumb {
  background-color: #3f51b5; }

.presential md-switch {
  margin: 0; }

/* Last Results Widget - Home Header*/
#widget-last-results {
  margin: 0 auto;
  text-align: center; }
  #widget-last-results h3 {
    font-size: 16px;
    margin: 0; }
  #widget-last-results .results {
    font-weight: bold;
    text-transform: uppercase; }

/* Basic Config
 * $nav-size (px) sets the size of the menu button
 * $nav-color (#) is set the be the main color when a background is set
 * $nav-color-active (#) is the color of the button when toggled. If theres no background, it is also the main color when untoggled
 * $hasBackground (boolean) sets whether there's a background or not.
 */
.material--burger {
  cursor: pointer;
  padding: 12.5px;
  position: relative;
  width: 50px;
  height: 50px; }
  .material--burger span {
    top: 50%;
    transform-origin: center center;
    animation-name: material-menu; }
    .material--burger span, .material--burger span:before, .material--burger span:after {
      width: 25px;
      background-color: #1d3d86;
      height: 3px;
      position: absolute;
      z-index: 525;
      animation-duration: 300ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      transition: background-color 300ms ease-in-out; }
    .material--burger span:before, .material--burger span:after {
      content: '';
      display: block; }
    .material--burger span:before {
      top: 300%;
      transform-origin: right bottom;
      animation-name: material-menu-before; }
    .material--burger span:after {
      bottom: 300%;
      transform-origin: right top;
      animation-name: material-menu-after; }
  .material--burger.material--arrow span, .material--burger.material--arrow span:before, .material--burger.material--arrow span:after {
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    background-color: #1d3d86; }
  .material--burger.material--arrow span {
    animation-name: material-arrow; }
  .material--burger.material--arrow span:before {
    animation-name: material-arrow-before; }
  .material--burger.material--arrow span:after {
    animation-name: material-arrow-after; }

@keyframes material-arrow {
  100% {
    transform: rotate(180deg); } }

@keyframes material-arrow-before {
  100% {
    top: 0;
    transform: rotate(-40deg) scaleX(0.7); } }

@keyframes material-arrow-after {
  100% {
    bottom: 0;
    transform: rotate(40deg) scaleX(0.7); } }

@keyframes material-menu {
  0% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes material-menu-before {
  0% {
    top: 0;
    transform: rotate(-40deg) scaleX(0.7); }
  100% {
    top: 300%;
    transform: rotate(0) scaleX(1); } }

@keyframes material-menu-after {
  0% {
    bottom: 0;
    transform: rotate(40deg) scaleX(0.7); }
  100% {
    bottom: 300%;
    transform: rotate(0) scaleX(1); } }

/*
 *  Team Builder Module
 */
.team-builder {
  background-color: #ffffff;
  width: 1050px; }
  .team-builder h6 {
    font-weight: 600;
    line-height: inherit;
    margin: 0; }
  .team-builder .label {
    display: inline-block;
    font-size: 12px;
    background-color: #f0f0f0;
    text-transform: uppercase;
    color: #ffffff;
    padding: 5px;
    border-radius: 4px; }
  .team-builder > header aside {
    width: 250px; }
  .team-builder > header .players-picker {
    width: 650px; }
  .team-builder .column {
    border-top: 1px solid #f0f0f0;
    float: left;
    height: 100%; }
  .team-builder .left {
    width: 200px; }
  .team-builder .center {
    border: 1px solid #f0f0f0;
    border-bottom: none;
    width: 550px; }
  .team-builder .right {
    width: 300px; }
    .team-builder .right header {
      padding: 18px; }
  .team-builder footer {
    width: 100%;
    border-top: 1px solid #f0f0f0;
    text-align: right;
    padding: 15px; }

.match-details {
  color: #534d51;
  padding: 33px; }
  .match-details .affiche {
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center; }
    .match-details .affiche .date {
      padding: 7px 12px;
      margin-right: 10px;
      border-radius: 18px;
      color: #ffffff;
      background-color: #6fcadc; }
    .match-details .affiche i {
      margin-right: 5px; }
  .match-details .label {
    display: inline-block;
    font-size: 12px;
    background-color: #f0f0f0;
    text-transform: uppercase;
    color: #ffffff;
    padding: 5px;
    border-radius: 4px; }
  .match-details .place {
    background-color: white;
    border: 1px solid #534d51;
    color: #534d51;
    font-weight: 500; }

.match-details__teams {
  margin: 20px 0;
  font-size: 20px; }

/*
 * Team Builder : Players picker component 
 */
#search {
  display: inline-block;
  border-radius: 18px;
  border: 1px solid #f0f0f0;
  margin: 10px;
  padding: 7px; }
  #search i {
    padding-right: 5px; }
  #search input {
    border: none;
    outline-width: 0; }

.players-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .players-list li {
    border-top: 1px solid #f0f0f0;
    padding: 15px; }
    .players-list li .avatar {
      height: 45px;
      width: 45px;
      border-radius: 50%;
      background-color: #eeeeee;
      margin-right: 15px;
      overflow: hidden; }
    .players-list li div {
      display: inline-block;
      float: left; }
    .players-list li .positions {
      float: left;
      position: relative;
      margin: 0;
      padding: 0; }
      .players-list li .positions li {
        float: left; }
        .players-list li .positions li.label {
          margin: 0px 3px;
          padding: 1px 5px;
          font-size: 10px; }
        .players-list li .positions li.Pivot {
          background-color: #6abb5c; }
        .players-list li .positions li.Gauche {
          background-color: #f79f33; }
        .players-list li .positions li.Droit {
          background-color: #fe6f61; }
        .players-list li .positions li.Demi-Centre {
          background-color: #6fcadc; }
        .players-list li .positions li.Gardien {
          background-color: #1d3d86; }
    .players-list li .action {
      text-align: center;
      height: 45px;
      float: right;
      padding-top: 10px; }
    .players-list li.selected {
      background-color: #f0f0f0; }

/*
 * Team Builder : Teams List component 
 */
.teams-list h6 {
  padding: 18px; }

.teams-list ul {
  padding: 10px;
  font-size: 12px;
  text-decoration: none;
  list-style: none; }
  .teams-list ul li {
    line-height: 30px;
    padding: 5px 10px;
    border-radius: 4px; }
    .teams-list ul li:before {
      content: "• ";
      font-size: 18px; }
    .teams-list ul li:first-child:before {
      color: #6abb5c; }
    .teams-list ul li:nth-child(2):before {
      color: #f79f33; }
    .teams-list ul li:nth-child(3):before {
      color: #a788fd; }
    .teams-list ul li.selected {
      background-color: #f6f7f9;
      font-weight: 600; }
    .teams-list ul li:hover {
      cursor: pointer; }

/*
 * Team Builder : Team Sheet component 
 */
.team-sheet i {
  font-size: 19px;
  vertical-align: middle;
  line-height: 32px; }

.team-sheet .players-list li .action {
  padding: 10px;
  margin-right: 15px; }

.team-sheet .players-list li.me {
  background-color: rgba(138, 194, 73, 0.2); }

/**
 * Player convocation - mobile first
 **/
@media (max-width: 767px) {
  .convoc {
    display: flex;
    flex-direction: column; }
    .convoc .affiche {
      text-align: center;
      padding: 10px;
      margin: 10px;
      padding: 5px;
      font-size: 1.2em; }
      .convoc .affiche .place {
        margin-top: 10px; }
        .convoc .affiche .place i {
          margin-right: 10px; } }

/* ==|====================
   Module/WeekPlanner
   ======================= */
.week-planner {
  display: flex;
  justify-content: space-between; }
  .week-planner__day-column {
    width: 200px; }
  .week-planner__day-header {
    flex-grow: 1; }
  .week-planner__day-content {
    flex-direction: column;
    flex-wrap: wrap; }
  .week-planner__hour-block {
    height: 50px; }
